<h1>Login</h1>

<%= form_tag sessions_url do %>
  <div class="control-group">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </div>

  <div class="control-group">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <br>

  <%= submit_tag "login" %>

<% end %>
