<% if @image.present? && @image.gallery.present? %>
<h2 class="mt125em">featured image from gallery <%= link_to @image.gallery.title, gallery_url(@image.gallery) %></h2>
<%= image_tag @image.image.url(:large), alt: @image.title_and_description %>
<% end %>
