<%= form_for(@text_page) do |f| %>
  <% if @text_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_page.errors.count, "error") %> prohibited this text_page from being saved:</h2>

      <ul>
      <% @text_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 30, cols: 100 %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :show_in_menu %><br>
    <%= f.check_box :show_in_menu %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
