<h1>Listing text_pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Body</th>
      <th>Active</th>
      <th>Show in menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_pages.each do |text_page| %>
      <tr>
        <td><%= text_page.title %></td>
        <td><%= text_page.url %></td>
        <td><%= text_page.body %></td>
        <td><%= text_page.active %></td>
        <td><%= text_page.show_in_menu %></td>
        <td><%= link_to 'Show', text_page %></td>
        <td><%= link_to 'Edit', edit_text_page_path(text_page) %></td>
        <td><%= link_to 'Destroy', text_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text page', new_text_page_path %>
