<% if current_user.present? && notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<nav id="text_page_navigation" class="mt15em">
  <h2><%= @text_page.title %></h2>
</nav>

<p><%= @text_page.body.html_safe %></p>

<% if current_user.present? %>
  <%= link_to 'Edit', edit_text_page_path(@text_page) %> |
  <%= link_to 'Back', text_pages_path %>
<% end %>