<% if current_user.present? && notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<nav id="gallery_navigation" class="mt15em">
  <h2><%= @gallery.title %></h2>
  <a href="#" id="arrow_left"><span>previous photo</span></a>
  <a href="#" id="arrow_right"><span>next photo</span></a>
  <div class="cleaner"></div>
</nav>

<% if @gallery.description.present? %>
  <p><%= @gallery.description %></p>
<% end %>

<% @gallery.images.order(:priority, :id).each do |image| %>
  <%= image_tag image.image.url(:large), alt: image.title_and_description, data: { order: 0 } %>
  <% if image.title_and_description.present? %>
    <p><%= image.title_and_description %></p>
  <% end %>
<% end %>

<% if current_user.present? %>
  <%= link_to 'Edit', edit_gallery_path(@gallery) %> |
  <%= link_to 'Back', galleries_path %>
<% end %>

<script>
var gallery_images = [
  <%= @gallery.images_to_json.html_safe %>
];

</script>