ul#images_list li {
  list-style-type: none;
  display: inline;
  margin: 0 10px 10px 0;
  width: 210px; height: 220px;
  display: block;
  float: left;
  text-align: center;
}

ul#images_list li div, ul#images_list li img { display: block; margin: 0 auto; }