* { margin: 0; padding: 0; }
body { margin: 0 auto; text-align: center; color: #666 !important; font: .8em sans-serif; }
a { color: #666; text-decoration: none; }
a:hover { color: white; background: black; }
.mt125em { padding: 1.3em 0 0 0; }
.mt15em { padding: 1.5em 0 0 0; }

div#content {
  width: 990px;
  margin: 1em auto;
  text-align: left;
}
div#sidebar {
  float: left;
  width: 150px;
  margin:0; padding:0;
}
div#sidebar-content {
  width: 150px;
  margin:0; padding: 0;
}
div#main {
  width: 800px; min-height: 500px; height: 500px;
  margin: 0 0 0 200px; padding:0;
}
div[id] #main {
   height:auto;
}
.cleaner {
  clear:both;
  height:1px;
  margin: -1px 0 0 0; padding:0;
  border:none;
  visibility: hidden;
}

.bold { font-weight: bold; }

nav#header { margin-bottom: 20px; }
h1, h2 { font: bold 1.2em sans-serif; }

div#main h2 { margin: 0 0 10px 0; }
div#main a { text-decoration: underline; }

ul.main_menu { margin: 0 0 20px 0; padding: 10px 0 0 0; }
ul.main_menu li { list-style-type: none; }
ul.main_menu ul li { margin: 0; }
ul.main_menu li#current { font-weight: bold; }
ul.main_menu ul li a { color: #666; }
ul.main_menu ul li a:hover { color: white; }

nav#footer { margin: 30px 0 0 0; }

nav#gallery_navigation { height: 2.5em; padding: 1.45em 0 0 0; margin: 0 0 0px 0; }
nav#gallery_navigation h2 { margin: 0 10px 0 0; }
nav#gallery_navigation h2, nav#gallery_navigation a { float: left; }
a#arrow_left, a#arrow_right {
  width: 12px; height: 17px;
  display: block;
  margin: .15em 0 0 5px;
  background: url(<%= asset_path 'arrow_left.png' %>) bottom left no-repeat;
}
a#arrow_right { background-image: url(<%= asset_path 'arrow_right.png' %>); }
a#arrow_left:hover, a#arrow_right:hover { background-position: top left; }
a#arrow_left span, a#arrow_right span { display: none; }

div.field { margin: 0 0 10px 0; }