<ul class="main_menu">
  <li><span class="bold">GALLERIES</span>
    <ul>
      <% @main_menu[:galleries].each do |menu_item| %>
        <% if current_page? menu_item[:url] %>
          <li id="current"><%= menu_item[:title] %></li>
        <% else %>
          <li><%= link_to menu_item[:title], menu_item[:url] %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
<ul class="main_menu">
  <li><span class="bold">INFO</span>
    <ul>
      <% @main_menu[:text_pages].each do |menu_item| %>
        <% if current_page? menu_item[:url] %>
          <li id="current"><%= menu_item[:title] %></li>
        <% else %>
          <li><%= link_to menu_item[:title], menu_item[:url] %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
