<% if current_user.present? %>
  <ul id="user_menu">
    <li><%= link_to 'galleries', galleries_url %></li>
    <li><%= link_to 'images', images_url %></li>
    <li><%= link_to 'text pages', text_pages_url %></li>
    <li><%= link_to "logout", logout_url, method: :delete %>
  </ul>
<% end %>