<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery_id %><br>
    <%= f.select :gallery_id, options_for_select(@galleries, @image.gallery_id) %>
  </div>
  <div class="field">
    <% if @image.image.present? %>
      <%= image_tag @image.image.url(:thumb) %><br>
    <% end %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %><br>
  </div>
  <div class="field">
    <%= f.check_box :show_on_homepage %>
    <%= f.label :show_on_homepage %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
