<h1>Listing images</h1>
<%= link_to 'New Image', new_image_path %>

<ul id="images_list">
  <% @images.each_with_index do |image, index| %>
    <li>
      <div>
        <%= image_tag image.image.url(:thumb), alt: image.title_and_description %>
        <%= link_to 'Show', image %>&nbsp;
        <%= link_to 'Edit', edit_image_path(image) %>&nbsp;
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>

  <% end %>
</ul>
<br>
