<p id="notice"><%= notice %></p>

<div id="image_metadata">
  <strong>Gallery:</strong>&nbsp;<%= @image.gallery.title %>
  <br>
  <strong>Priority:</strong>&nbsp;<%= @image.priority %>
  <br>
  <strong>Title:</strong>&nbsp;<%= @image.title || 'untitled' %>
  <br>
  <strong>Description:</strong>&nbsp;<%= @image.description %>
  <br>
  <strong>Active:</strong>&nbsp;<%= @image.active ? 'yes' : 'no' %>
  <br>
  <strong>Show on homepage:</strong>&nbsp;<%= @image.show_on_homepage ? 'yes' : 'no' %>
</div>

<div id="image_large">
  <%= image_tag @image.image.url(:large) %>
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
