<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="content">
    <div id="sidebar"><div id="sidebar-content">
      <nav id="header">
        <h1><a href="/">ADAM VASICEK<br>PHOTOGRAPHS</a></h1>
      </nav>

      <%= render partial: 'user_menu' %>

      <%= render partial: 'main_menu' %>

      <nav id="footer">2015 &copy;<br>adam vasicek</nav>
    </div></div>

    <div id="main"><div id="main-content">
      <% flash.each do |name, msg| -%>
        <%# if name != 'newsletter' || name != 'newsletter_error' %>
          <%= content_tag :div, msg, class: name %>
        <%# end %>
      <% end -%>

      <%= yield %>
    </div></div>

    <hr class="cleaner" />
  </div>
</body>
</html>
